%h1.center Rank All the Things!*

.center
  = form_for @list do |f|
    = f.label :name, 'List Name:'
    = f.text_field :name
    = f.file_field :text_file
    %br
    %br
    = f.submit 'Let the ranking begin!'

#all-the-things.center= image_tag 'all_the_things.png'
%br
%br

.fine-print *"All the Things" must be contained in a plain .txt file (no special characters). A single newline should separate one thing from the next.
